.mainBody{
    background: url(img/top1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.center{
    margin-top: 100px;
}

.center h1 {
    font-size: 100px;
    color: white;
    font-family: "Gill Sans", sans-serif;
}

.swiper-container {
    width: 30%;
    height: 80%;
}

.select{
    margin: 30px;
    padding: 20px;
    font-size: 30px;
    color: yellow;
    background-color: darkcyan;
    display: inline-block;
}

.swiper-slide p{
    margin: 10px;
    background-color: rgba(0, 255, 255, .7);
    font-size: 30px;
}

.slide-img{
    height: 200px;
    width: 250px;
}

#button{
    width: 300px;
    height: 50px;
    margin: 30px;
    font-size: 100px;
}

.body{
    text-align: center;
    background-color: wheat;
    height: 100vh;
}

.wanted{
    position: relative;
    margin-top: 30px;
}

.detail{
    position: absolute;
    left: 450px;
    top: 300px;
    font-size: 35px;
}

.detail input {
    height: 30px;
    width: 250px;
    font-size: 70%; 
}

.sub-menu{
    display: flex;
    margin: 10px;
}

.name{
    position: absolute;
    font-size: 105px;
    top: 720px;
    left: 330px;
}

.reward{
    position: absolute;
    font-size: 70px;
    top:860px;
    left: 400px;
}

.pic{
    display: flex;
    margin: 10px;
}

.pic input{
    font-size: 50%;
}

.photo{
    position: absolute;
    top: 230px;
    right: 355px;
    height: 415px;
    width: 575px;
}